*
# sources
!/.gitignore
!/pyproject.toml
!/README.md
!/uv.lock
!/src
!/src/**
!/src/**/*.py

# test environment
!/.dockerignore
!/container_tests
!/container_tests/Dockerfile
!/container_tests/compose.yml
!/container_tests/conf
!/container_tests/conf/*
